* {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: auto;
    margin: 0 auto;
}
header {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        .item_menu {
            margin-left: 30px;
        }
        .card {
            width: 92px;
            display: flex;
            flex-direction: row;
            justify-content: space-around; 
            border-bottom: 2px solid rgba(162, 95, 75, 0.3);
            margin-left: 50px;
            .quantity_goods {
                display: flex;
                width: 20px;
                height: 20px;
                background: black;
                border-radius: 50%;
                color: white;
                font-size: 11px;
                justify-content: center;
                align-items: center;
            }
        }
    }

.tagline {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
   background: url(../img/Cup_of_coffee.svg) no-repeat center #050827;
   color: white;
   :nth-child(1) {
    font-size: 12px;
    text-transform: uppercase;
   }
   :nth-child(2) {
    font-size: 47px;
    margin-top: 10px;
   }
   :nth-child(3) {
    font-size: 17px;
    margin-top: 10px;
   }
   :nth-child(4) {
    font-size: 18px;
    margin-top: 47px;
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 0 24px;
   }
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 123px;
        :nth-child(1) {
        width: 578px;
        font-size: 28px;
        text-align: center;
       }
       :nth-child(2) {
        width: 658px;
        font-size: 16px;
        margin-top: 16px;
        text-align: center;
        color: #1D1F2EB2;
       }
       :nth-child(3) {
        width: 133px;
        font-size: 15px;
        line-height: 28px;
        margin-top: 21px;
        color: #A25F4B;
        text-align: center;
        border-bottom: 2px solid rgba(162, 95, 75, 0.2);
       }
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    .line {
        width: 30px;
        height: 1px;
        background: #ECECED;
    }
    .contents {
        margin: 0 15px;
        font-size: 12px;
        text-transform: uppercase; 
    }
}
.container_photo {
    width: calc(100% - 400px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px; 
    .photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        :nth-child(2) {
            margin-top: 35px;
            font-size: 20px; 
        }
    }
}

.red {
    color: #A25F4B;
    font-size: 19px;
}
.grey {
    color: #1D1F2EB2;
    font-size: 16px;
}
.grey_light {
    color: #8d8fa7b2;
    font-size: 16px;
}
.grey_through {
    color: #1D1F2E66;
    font-size: 16px;
    text-decoration: line-through;
}
.info_shopping {
    width: 320px;
    padding:0 70px;
    :nth-child(1) {
        font-size: 12px;
        text-transform: uppercase;
       }
       :nth-child(2) {
        font-size: 47px;
        margin-top: 14px;
       }
       :nth-child(3) {
        font-size: 17px;
        font-weight: 400;
        margin-top: 15px;
        color: #1D1F2EB2;
       }
       :nth-child(4) {
        width: 173px;
        font-size: 18px;
        margin-top: 34px;
        text-transform: uppercase;
        background: #1D1F2E;
        color: white;
        padding: 9px 25px;
        text-align: center;
       }
}
.container_img {
    display: grid;
    grid-template-columns: 280px 160px;
    grid-template-rows: 130px;
    grid-gap: 20px;
        :nth-child(3) {
            grid-column: 2/3;
        }
}
.img {
    width: 100%;
    margin-top: 150px;
}
.position_left {
    display: flex;
    flex-direction: column;
    margin: 10px;
   width: 300px;
   :nth-child(2) {
       font-size: 20px;
       margin-top: 29px;
   }
   :nth-child(4) {
    font-size: 12px;
    text-transform: uppercase;
}
}
.registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 100px);
    padding: 100px 0;
    background: #1D1F2E;
    margin-top: 200px;
    color: white;
    .item {
        margin-top: 0;
    }
    .size {
        font-size: 36px;
        margin-top: 25px;
    }
    .button {
        width: 480px;
        height: 54px;
        display: inline-flex;
        justify-content: space-between;
        font-size: 12px;
        margin-top: 35px;
        :nth-child(1) {
            width: 250px;
            box-sizing: border-box;
            border: 1px solid white;
            text-align: center;
            padding: 18px 0;
        }
        :nth-child(2) {
            width: 125px;
           background: white;
           color: black;
           text-align: center;
           font-size: 12px;
           padding: 18px 0;
           margin: 0;
        }
    }
}
footer {
    display: flex;
    width: calc(100% - 100px);
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    :nth-child(1) {
        width: 260px;
    }
    .footer_item {
        display: flex;
        flex-direction: column;
        margin-right: 60px;
        :nth-child(1) {
            width: 112px;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 0;
        }
        p:not(:nth-child(1)){
            font-size: 13px;
            color: #1D1F2E;
        }
        :nth-child(3) {
            align-items: flex-end;
        }
    }
}
.end {
    color: #9599b8 !important;  
}
.bolt {
    font-size: 23px !important;
}