* {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

header {
  width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}

.menu .item_menu {
  margin-left: 30px;
}

.menu .card {
  width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2px solid rgba(162, 95, 75, 0.3);
  margin-left: 50px;
}

.menu .card .quantity_goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  color: white;
  font-size: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tagline {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
  background: url(../img/Cup_of_coffee.svg) no-repeat center #050827;
  color: white;
}

.tagline :nth-child(1) {
  font-size: 12px;
  text-transform: uppercase;
}

.tagline :nth-child(2) {
  font-size: 47px;
  margin-top: 10px;
}

.tagline :nth-child(3) {
  font-size: 17px;
  margin-top: 10px;
}

.tagline :nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-top: 47px;
  text-transform: uppercase;
  background: white;
  color: black;
  padding: 10px 24px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 123px;
}

.info :nth-child(1) {
  width: 578px;
  font-size: 28px;
  text-align: center;
}

.info :nth-child(2) {
  width: 658px;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
  color: #1D1F2EB2;
}

.info :nth-child(3) {
  width: 133px;
  margin-top: 21px;
  text-align: center;
  border-bottom: 2px solid rgba(162, 95, 75, 0.2);
}

.info :nth-child(3) a {
  font-size: 15px;
  color: #A25F4B;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.item .line {
  width: 30px;
  height: 1px;
  background: #ECECED;
}

.item .contents {
  margin: 0 15px;
  font-size: 12px;
  text-transform: uppercase;
}

.container_photo {
  width: calc(100% - 400px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 120px;
}

.container_photo .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.container_photo .photo :nth-child(2) {
  margin-top: 35px;
  font-size: 20px;
}

.red {
  color: #A25F4B;
  font-size: 19px;
}

.grey {
  color: #1D1F2EB2;
  font-size: 16px;
}

.grey_light {
  color: #8d8fa7b2;
  font-size: 16px;
}

.grey_through {
  color: #1D1F2E66;
  font-size: 16px;
  text-decoration: line-through;
}

.info_shopping {
  width: 320px;
  padding: 0 70px;
}

.info_shopping :nth-child(1) {
  font-size: 12px;
  text-transform: uppercase;
}

.info_shopping :nth-child(2) {
  font-size: 47px;
  margin-top: 14px;
}

.info_shopping :nth-child(3) {
  font-size: 17px;
  font-weight: 400;
  margin-top: 15px;
  color: #1D1F2EB2;
}

.info_shopping :nth-child(4) {
  width: 173px;
  font-size: 18px;
  margin-top: 34px;
  text-transform: uppercase;
  background: #1D1F2E;
  color: white;
  padding: 9px 25px;
  text-align: center;
}

.info_shopping :nth-child(4) a {
  color: white;
}

.container_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 280px 160px;
      grid-template-columns: 280px 160px;
  -ms-grid-rows: 130px;
      grid-template-rows: 130px;
  grid-gap: 20px;
}

.container_img :nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.img {
  width: 100%;
  margin-top: 150px;
}

.position_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  width: 300px;
}

.position_left :nth-child(2) {
  font-size: 20px;
  margin-top: 29px;
}

.position_left :nth-child(4) {
  font-size: 12px;
  text-transform: uppercase;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 100px);
  padding: 100px 0;
  background: #1D1F2E;
  margin-top: 200px;
  color: white;
}

.registration .item {
  margin-top: 0;
}

.registration .size {
  font-size: 36px;
  margin-top: 25px;
}

.registration .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
  height: 54px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  margin-top: 35px;
}

.registration .button :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration .button :nth-child(2) a {
  background: white;
  color: black;
  text-align: center;
  font-size: 12px;
  padding: 18px 20px;
}

.registration .button input {
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  padding: 18px 0;
  background: #1D1F2E;
  color: white;
  font-size: 14px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

footer :nth-child(1) {
  width: 260px;
}

footer .footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
}

footer .footer_item :nth-child(1) {
  width: 112px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 0;
}

footer .footer_item p:not(:nth-child(1)) {
  font-size: 13px;
  color: #1D1F2E;
}

footer .footer_item :nth-child(3) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.end {
  color: #9599b8 !important;
}

.bolt {
  font-size: 23px !important;
}
/*# sourceMappingURL=style.css.map */